PORT=5000

MONGODB_URI=mongodb+srv://matrimonyUser:Matrimony123456@cluster0.qmqpriq.mongodb.net/namakkalMatrimony?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mysecret123

CORS_ORIGIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=